.post-date {
    font-weight: bold;
}

.list-element {
    margin-bottom: 50px;
}

.service-page {
    padding: 20px;
}

#edit-btns {
    margin: 30px 0;
}

.post-footer {
    margin-top: 30px;
    background-color: #F2F1F1;
    font-size: 90%;
    padding: 5px 10px;
}

#disqus_thread {
    margin-top: 30px;
}

#post-body-textarea {
    font-family: monospace;
}

.sidebar-widget {
    margin-bottom: 30px;
}

#login-form {
    margin-top: 30px;
}

.cut-link {
    display: inline-block;
    margin-top: 20px;
}

.shareaholic-canvas {
    margin-top: 30px;
}