<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title layout:title-pattern="$CONTENT_TITLE – $DECORATOR_TITLE" th:text="${title}" />
    <link rel="alternate" type="application/rss+xml" th:title="${title} + ' – RSS'" href="/rss" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-treeview.css}" />
    <link rel="stylesheet" th:href="@{/css/syntaxhighlighter/shCore.css}" />
    <link rel="stylesheet" th:href="@{/css/syntaxhighlighter/shThemeDefault.css}" />
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?121" />
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" />
                <span class="icon-bar" />
                <span class="icon-bar" />
            </button>
            <a class="navbar-brand" href="/" th:text="${title}" />
        </div>
        <p class="navbar-text">All work and no play makes John a dull boy</p>
        <form action="/new" sec:authorize="hasRole('ROLE_ADMIN')" class="navbar-form navbar-left">
            <button type="submit" class="btn btn-default">Создать</button>
        </form>
        <form th:action="@{/logout}" sec:authorize="hasRole('ROLE_ADMIN')" class="navbar-form navbar-left"
              method="post">
            <button type="submit" class="btn btn-default">Выйти</button>
        </form>
        <div class="collapse navbar-collapse" id="nav-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Главная</a></li>
                <li><a href="/contents">Содержание</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div layout:fragment="content" />
        </div>
        <div class="col-md-4">
            <div class="sidebar-widget">
                <h4>О блоге</h4>
                <p class="well" th:text="${description}" />
            </div>
            <div class="sidebar-widget" th:if="${!#lists.isEmpty(tags)}"
                 th:with="coef = ${80.0 / tags[0].posts.size()}">
                <h4>Ярлыки</h4>
                <span th:each="tag : ${tags}" th:if="${!#lists.isEmpty(tag.posts)}"
                      th:style="'font-size: ' + ${#numbers.formatDecimal(80 + tag.posts.size() * coef, 0, 0)} + '%;'">
                    <a th:href="@{/posts(tag = ${tag.name})}"><span th:text="${tag.name}" /></a>&nbsp;
                    <span th:text="|(${tag.posts.size()}) |" />
                </span>
            </div>
            <div class="sidebar-widget">
                <h4>Архив блога</h4>
                <div id="tree" />
            </div>
            <div class="sidebar-widget">
                <h4>ВКонтакте</h4>
                <div id="vk_groups"></div>
                <script type="text/javascript">
                    VK.Widgets.Group("vk_groups", {
                        mode: 1,
                        width: "auto",
                        height: "400",
                        color1: 'ffffff',
                        color2: '333333',
                        color3: 'dd4814'
                    }, 22734810);
                </script>
            </div>
            <div class="sidebar-widget">
                <p class="text-center text-muted small">
                    © <a href="http://about.johnspade.ru">johnspade</a>, 2010—
                    <span th:text="${#dates.year(#dates.createNow())}" /> |
                    <a href="https://github.com/johnspade/blog">Исходный код на GitHub</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-1.11.3.min.js}" />
<script th:src="@{/js/bootstrap.min.js}" />
<script th:src="@{/js/bootstrap-treeview.js}" />
<script th:src="@{/js/syntaxhighlighter/shCore.js}" />
<script th:src="@{/js/syntaxhighlighter/shBrushCpp.js}" />
<script th:src="@{/js/syntaxhighlighter/shBrushJScript.js}" />
<script th:src="@{/js/syntaxhighlighter/shBrushXml.js}" />
<script th:src="@{/js/syntaxhighlighter/shBrushCss.js}" />
<script th:src="@{/js/syntaxhighlighter/shBrushPowerShell.js}" />
<script th:src="@{/js/syntaxhighlighter/shBrushPlain.js}" />
<script th:src="@{/js/syntaxhighlighter/shBrushCSharp.js}" />
<script th:src="@{/js/syntaxhighlighter/shBrushJava.js}" />
<script id="dsq-count-scr" src="//johnspade.disqus.com/count.js" async="async" />
<script th:inline="javascript">
    /*<![CDATA[*/
    var data = /*[[${tree}]]*/ null;
    $('#tree').treeview({data: data, enableLinks: true, showBorder: false, showIcon: false, showTags: true});
    /*]]>*/
</script>
<script>SyntaxHighlighter.all()</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-18212174-5', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>