<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta th:if="${#httpServletRequest.getRequestURI() != '/'}" content="noindex, follow" name="robots"/>
    <title th:text="${selectedTag != null ? selectedTag.name : 'Посты'}" />
</head>
<body>
<div layout:fragment="content">
    <div class="alert alert-warning" th:if="${!#strings.isEmpty(selectedTag)}">
        <span th:text="'Ярлык: ' + ${selectedTag.name}" />
    </div>
    <div th:each="post : ${posts}" class="list-element" th:with="url = @{/posts/{id}(id = ${post.id})}">
        <p th:text="${#dates.format(post.date, 'dd.MM.yyyy')}" class="post-date" />
        <a th:href="${url}"><h3 th:text="${post.title}" /></a>
        <div th:utext="${post.body}" />
        <a th:href="${url} + '#more'" class="cut-link">Читать полностью »</a>
        <p class="post-footer">Опубликовано <i><span th:text="${#dates.format(post.date, 'dd.MM.yyyy')}" /></i>
            <span th:if="${!#strings.isEmpty(post.tags)}">с ярлыками:
                <a class="label label-primary" th:each="tag : ${#strings.arraySplit(post.tags, ',')}"
                   th:href="@{/posts(tag = ${tag})}" th:text="${tag}" />
            </span>
            <br />
            <a th:href="${url} + '#disqus_thread'" />
        </p>
    </div>
    <nav>
        <ul class="pager"
            th:with="url = '/posts' + (*{selectedTag != null} ? '?tag=' + ${selectedTag.name} : '')">
            <li th:if="${hasPreviousPage} == true">
                <a th:href="@{${url}(page = ${currentPage} - 1)}">Позже</a>
            </li>
            <li th:if="${hasNextPage} == true">
                <a th:href="@{${url}(page = ${currentPage} + 1)}">Раньше</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>