<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Посты</title>
</head>
<body>
<div layout:fragment="content">
    <div th:each="post : ${posts}" class="list-element" th:with="url = @{/posts/{id}(id = ${post.id})}">
        <p th:text="${#dates.format(post.date, 'dd.MM.yyyy')}" class="post-date" />
        <a th:href="${url}"><h3 th:text="${post.title}" /></a>
        <div th:utext="${post.body}" />
        <p class="comments-link"><a class="label label-default" th:href="${url} + '#disqus_thread'"></a></p>
    </div>
    <nav>
        <ul class="pager"
            th:with="url = '/posts' + (*{selectedCategory != null} ? '?category=' + ${selectedCategory.name} : '')">
            <li th:if="${hasPreviousPage} == true">
                <a th:href="@{${url}(page = ${currentPage} - 1)}">Позже</a>
            </li>
            <li th:if="${hasNextPage} == true">
                <a th:href="@{${url}(page = ${currentPage} + 1)}">Раньше</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>