<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<head>
    <title th:text="${post.title}" />
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <h3 th:text="${post.title}" />
    </div>
    <div th:utext="${post.body}" />
    <p class="post-footer">
        Опубликовано <i><span th:text="${#dates.format(post.date, 'dd.MM.yyyy')}" /></i>
        <span th:if="${!#strings.isEmpty(post.tags)}">
            с ярлыками: <a class="label label-primary" th:each="tag : ${#strings.arraySplit(post.tags, ',')}"
                           th:href="@{/posts(tag = ${tag})}" th:text="${tag}" />
        </span>
    </p>
    <div sec:authorize="hasRole('ROLE_ADMIN')" id="edit-btns">
        <form class="form-inline" th:object="${post}" th:action="@{/posts/{id}/delete(id = ${post.id})}"
              th:method="delete">
            <a class="btn btn-default btn-sm" th:href="@{/posts/{id}/edit(id = ${post.id})}">Редактировать</a>
            <button type="submit" class="btn btn-default btn-sm" onclick="return confirm('Удалить пост?')">
                Удалить
            </button>
        </form>
    </div>
    <div class="shareaholic-canvas" data-app="recommendations" data-app-id="23892434" style="height: 300px"></div>
    <div>
        <div id="disqus_thread"></div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var disqus_config = function () {
                this.page.url = /*[[${#httpServletRequest.requestURL.toString()}]]*/ '';
                this.page.identifier = /*[[${post.id}]]*/ '';
            };
            (function () {
                var d = document, s = d.createElement('script');
                s.src = '//johnspade.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
            /*]]>*/
        </script>
    </div>
</div>
</body>
</html>